#-------------------------------------------------------------------------------
# Operating Specific Junk Files
#-------------------------------------------------------------------------------

# Linux
*~
.Trash-*

# OS X
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
*.cab
*.msi
*.msm
*.msp
*.lnk

# Miscellany
$RECYCLE.BIN/
.directory

#-------------------------------------------------------------------------------
# IDE / Development Files
#-------------------------------------------------------------------------------

# Visual Studio Code
.vscode/

# SublimePHPIntel
.phpintel

#-------------------------------------------------------------------------------
# Environment Files
#-------------------------------------------------------------------------------
.env
.env.local
.env.test.local
.env.development.local
.env.production.local
*/.env
*/.env.local
*/.env.test.local
*/.env.development.local
*/.env.production.local

#-------------------------------------------------------------------------------
# Code Igniter 4 / PHP Back-End Files
#-------------------------------------------------------------------------------

# Composer
/app/php-backend/vendor/

# Test Files
/app/php-backend/results/
/app/php-backend/tests/coverage*
/app/php-backend/phpunit
/app/php-backend/phpunit*.xml
/app/php-backend/.phpunit.*.cache

# Temporary Files
/app/php-backend/php_errors.log
/app/php-backend/writable/logs/*
/app/php-backend/writable/cache/*
/app/php-backend/writable/session/*
/app/php-backend/writable/uploads/*
/app/php-backend/writable/debugbar/*
!/app/php-backend/writable/logs/index.html
!/app/php-backend/writable/cache/index.html
!/app/php-backend/writable/session/index.html
!/app/php-backend/writable/uploads/index.html
!/app/php-backend/writable/debugbar/.gitkeep

# User Guide Temp Files
/app/php-backend/user_guide_src/build/*
/app/php-backend/user_guide_src/cilexer/dist/*
/app/php-backend/user_guide_src/cilexer/build/*
/app/php-backend/user_guide_src/cilexer/pycilexer.egg-info/*

#-------------------------------------------------------------------------------
# React / Node.js Front-End Files
#-------------------------------------------------------------------------------

# Production Files
/app/react-frontend/build

# Testing Files
/app/react-frontend/coverage

# Dependencies
/app/react-frontend/node_modules
/app/react-frontend/.pnp
/app/react-frontend/.pnp.js

# Miscellany
/app/react-frontend/npm-debug.log*
/app/react-frontend/yarn-debug.log*
/app/react-frontend/yarn-error.log*